*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(223, 178, 211);
}
h1{
    font-size: xx-large;
}
.colormorado{
    background-color: rgb(146, 71, 130);
    font-family: Arial, Helvetica, sans-serif;
}
.tata{
    background-color: rgb(146, 71, 130);
}